/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEF5FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.navbar {
    background-color: #176B87;
    color: white;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.sidebar {
    height: 100%;
    width: 20rem;
    background-color: #86B6F6;

    /* sidebar content dsplay */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* sidebar toggle */
    position: fixed;
    top: 0;
    left: -20rem;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    background-color: #006eff;
    padding: 0.8rem;
}

.sidebar__header p,
.sidebar__toggle-close-btn {
    padding: 0.4rem 1rem;
    border-radius: 4px;
}

.sidebar__logo {
    background-color: white;
}

.sidebar__toggle-close-btn {
    background-color: rgba(0, 0, 0, 0.564);
    color: white;
    border: none;
}

.sidebar__toggle-close-btn:hover {
    background-color: #200E3A;
    color: white;
    border: solid 2px #86B6F6;
    transform: scale(1.05);
}

.sidebar__nav {
    text-align: center;
    height: 100%;
}

.nav-list {
    width: 100%;
}

.nav-item {
    padding: 0.3rem;
    background-color: #EEF5FF;
}

.nav-item:hover {
    background-color: #bad6fd;
    border-radius: 2px;
}

.nav-link {
    text-decoration: none;
}

.sidebar__socialList {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #67a9ff;
}

.sidebar__socialList li {
    float: left;
    list-style-type: none;
    background-color: #EEF5FF;
    margin: 0.3rem;
    border-radius: 4px;
}

.social-link {
    padding: 0.4rem;
    border-radius: 4px;
    text-decoration: none;
}

.social-link:hover {
    background-color: #034198;
    color: white;
    padding: 0.3rem;
}


/* Content  */

.content {
    transition: margin-left 0.5s;
    padding: 5rem 1rem 10rem 2rem;
    width: 70%;
}

.sidebar__toggle-btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #257cee;
    color: white;
}


/* toggle manage */

.content.content-shifted {
    margin-left: 20rem;
}

.sidebar.sidebar-open {
    /* sidebar open state */
    left: 0;
}


/* new  */

.content__header h1 {
    font-size: 2.5rem;
    color: #333;
}

.content__main {
    margin-bottom: 4rem;
}

.content__main section {
    margin-bottom: 2rem;
}

.content__main h2 {
    font-size: 2rem;
    color: #257cee;
}

.content__main p {
    line-height: 1.6;
    color: #555;
}

.page__footer {
    text-align: center;
    color: #777;
    background-color: rgba(0, 0, 0, 0.765);
    padding: 2rem 0;
    border-top: 1px solid #ddd;
}